@page "/"
@using AppCore.Helper
@using AppCore.Interfaces
@using AppCore.Models
@using AppCore.EntityModels
@using AppCore.Services
@inject IConfiguration _config;
@inject IArsAutomationAgent _playright
@inject IIDPAuditLogRepository _audit;
@inject IEmailSerivce _email;
@inject ITextractService _textract;
@inject IVLMService _llm;
@inject ArsAutomationAgent _ars;
@inject IConfiguration _configuration
@inject IJSRuntime JS
@inject NavigationManager Nav
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override async Task OnInitializedAsync() => await LoadAsync();

    private async Task LoadAsync()
    {
        await Task.Delay(100);
        CancellationToken ctn = new CancellationToken();

        try
        {
            // List<string> documentids = new List<string>();
            // documentids.Add("639066");

            // test log
            await _audit.AddLogAsync(0, 1, $"Home- test logging at: {DateTime.Now.ToString()}", AuditLogLevel.Info, AuditEventType.Testing);

            // List<string> documentids = new List<string>();
            // //documentids.Add("639066");
            // documentids.Add("7005435232");
            // documentids.Add("7005434845");
            // documentids.Add("7005434743");

            // await _ars.ExecuteAsync(documentids);

            bool process = false;

            if (process)
            {
                //---------------------------------------
                // test playright
                //---------------------------------------
                //string url = "https://www.docusign.com/solutions/industries/real-estate";
                //var result = await _playright.ScrapeAsync(url, ctn);

                //---------------------------------------
                // test email
                //---------------------------------------
                //var messages = await _email.FetchInboxMessagesAsync(ctn);
                //await _email.ProcessInboxBatchForDateAsync(new DateOnly(2026, 02, 18), 25, ctn);


                //---------------------------------------
                // test textract
                //---------------------------------------
                string imagePath = @"C:\IDP\TestImages\Picture5.jpg";
                var textractResult = await _textract.DetectLinesAsync(imagePath, ctn);

                //---------------------------------------
                // test sagemaker
                //---------------------------------------
                string endpointName = _config["AWSDTS:LLMEndpoint"] ?? throw new InvalidOperationException("AWSDTS:LLMEndpoint is required");
                string KV_BASE_INSTRUCTIONS = _config["AWSDTS:KV_BASE_INSTRUCTIONS"] ?? throw new InvalidOperationException("AWSDTS:LLMPrompt is required");

                var KVPrompt = await File.ReadAllTextAsync(KV_BASE_INSTRUCTIONS);
                var KVResponse = await _llm.CallKvAsync(endpointName, KVPrompt, textractResult, imagePath, 1500, 0.1, ctn);
                Console.WriteLine(KVResponse);

                string WORKTYPE_CATALOG = _config["AWSDTS:WORKTYPE_CATALOG"] ?? throw new InvalidOperationException("AWSDTS:LLMPrompt is required");
                string CLASSIFIER_INSTRUCTIONS = _config["AWSDTS:CLASSIFIER_INSTRUCTIONS"] ?? throw new InvalidOperationException("AWSDTS:LLMPrompt is required");

                var worktypeCatlog = await File.ReadAllTextAsync(WORKTYPE_CATALOG);
                var classifierInstructions = await File.ReadAllTextAsync(CLASSIFIER_INSTRUCTIONS);

                string classifierResponse = await _llm.CallClassifierAsync(endpointName, KVResponse, worktypeCatlog, imagePath, classifierInstructions, 1500, 0.1, ctn);

                Console.WriteLine(classifierResponse);
            }

            await Task.Delay(100);
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    
    }

}